@import url("https://fonts.googleapis.com/css2?family=Passero+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");

.flex {
  display: flex;
}
.item-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
